.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111111;
  color: #999999;
  font-weight: 600;
  padding: 1rem;
  margin: 0;
}
button {
  border-radius: 0.5rem;
  border-color: #bbbbbb;
  border-width: 1px;
  border-style: solid;
}
